#todo-mainheader{
    font-size: 50px;
}
input[type=checkbox]{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
input[type=number]{
    width: 100px;
    height: 28px;
}
.checkboxtext{
    font-size:40px;
    display: inline;
}

.button{
    float: left;
    zoom: 2.0;
}
